@import "tailwindcss";

:root {
  --black: #000000;
  --navy-blue: #14213d;
  --yellow: #fca311;
  --gray: #e5e5e5;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Inter", sans-serif;
}
